.category{
    text-decoration: none;
    color: black;
}
.row{
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(248, 245, 245);
    margin: 20px 0px;
}
.elipsis{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}